#todo-root .footer {
  padding: 10px 15px 10px 5px;
  text-align: center;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #e6e6e6;

  h5 {
    font-size: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .todo-count strong {
    font-weight: 600;
  }

  .actions {
    display: flex;
    flex-direction: column;
  }

  .actions button {
    padding: 5px 10px;
    margin: 5px 6px 10px;
    border-radius: 4px;
    white-space: nowrap;
  }

  .filters {
    text-align: left;
  }

  .filters ul {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
  }

  .filters.statusFilters li button {
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 3px;
    background: unset !important;
  }

  .filters.statusFilters li button:hover {
    border-color: rgba(175, 47, 47, 0.1);
  }

  .filters.statusFilters li button.selected {
    border-color: rgba(175, 47, 47, 0.3);
  }

  .filters.colorFilters .color-block {
    display: inline-block;
    width: 20px;
    height: 12px;
    border-radius: 3;
    margin-left: 5px;
    margin-right: 5px;
  }

  form.colorSelection label {
    display: block;
  }

  form.colorSelection input[type='checkbox'] {
    margin-right: 5px;
  }

  @media (max-width: 840px) {
    flex-direction: column;
    align-items: center;

    .filters {
      bottom: 10px;
    }
  }
}