#todo-root {
  height: 100%;
  margin: 0 auto;
  text-align: center;
  display: block;

  textarea,
  input,
  button {
    box-shadow: none;
  }

  /* Main content */

  .button {
    display: inline-block;
    background: #1976d2;
    color: white;
    border-radius: 4px;
    font-weight: 700;
    padding: 0.75rem 1.5rem;
  }

  /* TodoMVC App CSS */

  :focus {
    outline: 0;
  }

  .todoapp {
    background: #fff;
    min-width: 800px;
    position: relative;
    display: flex;
    text-align: left;
    flex-direction: column;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .todoapp section.todo-list {
    margin: 0;
  }

  .toggle-all:checked + label:before {
    color: #737373;
  }

  .todo-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 400px;
    max-height: 400px;
    overflow-y: auto;
  }

  ul.todo-list {
    list-style: none;
  }

  .todo-list li {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
  }

  .todo-list li:last-child {
    border-bottom: none;
  }

  .todo-list li .view {
    display: flex;
    align-items: center;
  }

  .todo-list li .segment {
    display: flex;
    align-items: center;
  }

  .todo-list li .segment.label {
    flex-grow: 2;
  }

  .todo-list li .toggle {
    text-align: center;
    width: 40px;
    /* auto, since non-WebKit browsers doesn't support input styling */
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none; /* Mobile Safari */
    -webkit-appearance: none;
    appearance: none;
  }

  .todo-list li .toggle {
    opacity: 0;
  }

  .todo-list li .toggle + .todo-text {
    /*
      Firefox requires `#` to be escaped - https://bugzilla.mozilla.org/show_bug.cgi?id=922433
      IE and Edge requires *everything* to be escaped to render, so we do that instead of just the `#` - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7157459/
    */
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: center left;
  }

  .todo-list li .toggle:checked + .todo-text {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
  }

  .todo-list li .todo-text {
    margin: 5px;
    word-break: break-all;
    padding: 5px 5px 5px 60px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
    font-weight: 400;
    color: black;
    flex-grow: 2;
  }

  .todo-list li.completed label {
    color: #cdcdcd;
    text-decoration: line-through;
  }

  .todo-list li select.colorPicker {
    width: 90px !important;
    padding: 0.1rem 0 0.1rem 0.4rem;
    margin: 0 10px;
    height: 30px;
    line-height: 24px;
    font-weight: 700;
    border: 0.5px solid #8080807d;
    border-radius: 5px;
  }

  .todo-list li select.colorPicker option {
    font-weight: 700;
  }

  .todo-list li select.colorPicker option[value='green'] {
    color: green;
  }

  .todo-list li select.colorPicker option[value='blue'] {
    color: blue;
  }

  .todo-list li select.colorPicker option[value='orange'] {
    color: orange;
  }

  .todo-list li select.colorPicker option[value='purple'] {
    color: purple;
  }

  .todo-list li select.colorPicker option[value='red'] {
    color: red;
  }

  .todo-list li .destroy {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    padding: 0;

    .svg {
      filter: invert(60%) sepia(4%) saturate(1869%) hue-rotate(314deg) brightness(107%) contrast(99%);
    }
  }

  .todo-list li .destroy:hover {
    box-shadow: none;
    .svg {
      filter: invert(45%) sepia(17%) saturate(1430%) hue-rotate(308deg) brightness(89%) contrast(88%);
    }
  }

  /*
    Hack to remove background from Mobile Safari.
    Can't use it globally since it destroys checkboxes in Firefox
  */
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .toggle-all,
    .todo-list li .toggle {
      background: none;
    }

    .todo-list li .toggle {
      height: 40px;
    }
  }

  @media (max-width: 840px) {
    .todoapp {
      min-width: inherit;
    }

    .todo-list li .todo-text {
      font-size: 15px;
    }

    .todo-list li .view {
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      padding-bottom: 5px;
    }

    .todo-list li .segment.buttons {
      justify-content: flex-end;
    }
  }
}